<a href="https://colab.research.google.com/github/shivanisharma543-ux/Data-Structure-Assignment/blob/main/Data_Structure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
1. What are data structures, and why are they important?
  Data structures are specialized formats for organizing, storing, and accessing collections of data.
  They provide efficient ways to manage information based on its characteristics and intended use.
  they are like containers that hold your data and determine how you can interact with it.
  Different containers are better suited for different types of items.
Importance
  Choosing the right data structure significantly impacts the efficiency and performance of your program.
  Well-chosen data structures can:Simplify data manipulation (adding, removing, modifying elements)
  Optimize searching and sorting operations
  Conserve memory usage
'''

In [ ]:
'''
2.  Explain the difference between mutable and immutable data types with examples?
     Mutable data types:
      Mutable data type is one whose value or content can be change, edited or modified after its creation, without changing the memory location.
      E.g: Lists, Dictionary, set etc.

    Immutable data types:
      An immutable data type is one whose content or values cannot be changes, edited or modified after its creation.
      E.g: Tuple, string, Bool etc.
'''

In [ ]:
'''
3. What are the main differences between lists and tuples in Python?
  Lists:
    Lists are mutable data type.
    They are represented in Square brackets([]).
    They are slower in performance and uses high memory.
    They cannot become a Dictionary key as they are non-hashable
  Tuple:
    Tuple are immutable data type.
    They are represented in parantheses().
    They are faster in performance and uses less memory.
    They can act as a key in Dictionary.
'''

In [ ]:
'''
4.  Describe how dictionaries store data?
      Dictionaries store data in a key-value structure, where key act as an index.
      They are hashable means the keys should be immutable.
      they are represent in curly brackets({}).
      E.g:{'Name':'Shivani', 'contact':1234}
'''

In [ ]:
'''
5. Why might you use a set instead of a list in Python?
    Sets are preffered over list when you need to obtain unique items.
    E.g: In case of grocery list in a house made by two people consisting few of the same items in that case set is useful to avoid duplication.
'''

In [ ]:
'''
6. What is a string in Python, and how is it different from a list?
    String: It ia sequence of characters enclosed in single or double quotes.
    It differs from list as it is immutable and only stores one type of data while the lists can store varied data types.
'''

In [ ]:
'''
7. How do tuples ensure data integrity in Python?
    Tuples ensure data integrity by being immutable form of data structure. it prevents modification of data.
'''

In [ ]:
'''
8. What is a hash table, and how does it relate to dictionaries in Python?
    It is a form of data structure which stores data in key-value pairs. Dictionaries are implemented using Hash table.
'''

In [ ]:
'''
9. Can lists contain different data types in Python?
    Yes, lists can store heterogenous data types that includes integers, float, string, complex, boolean and other lists.
'''

In [ ]:
'''
10.  Explain why strings are immutable in Python?
      Strings are immutable because they dont allow any item assignment or changes once created.
      This ensure safety of data and performance optimization.
      strings are often used as dictionary key as because of their immutablility they are hashable.
'''

In [ ]:
'''
11. What advantages do dictionaries offer over lists for certain tasks?
    Dictionaries store data in key-value pair which makes it clearer and more readable.
    Dictionaries also make the data look up or data access easier and faster as the keys act as an index.
    One doesn't need to remember index positions.
'''

In [ ]:
'''
12.  Describe a scenario where using a tuple would be preferable over a list?
      Tuple is used where one doesn't want the data to be modified.
      For example: for storing employee info of the company, PAN card numbers, bank account number etc.
'''

In [ ]:
'''
13.  How do sets handle duplicate values in Python?
      Sets doesn't allow data duplication, stores only unique elements or items.
'''

In [ ]:
'''
14. How does the “in” keyword work differently for lists and dictionaries?
      In Lists 'in' keyword checks for the presence of a particular item or entity and returs output as true or false.
      In dictionary 'in' keyword is used to get the key-value pair data.
'''

In [ ]:
'''
15. Can you modify the elements of a tuple? Explain why or why not?
    Tuples are immutable doen't allow item assignment.
    However, some operations can be performed on a tuple like slicing, multiplication of tuple, iteration and reversing a tuple, but item assignment id not allowed.
    Further if mutable objects like a list is stored inside a tuple then that can be modified.
'''

In [ ]:
'''
16. What is a nested dictionary, and give an example of its use case?
      Nested dictionary is the dictionaries inside a dictionary.
       It has multiple uses like :creating employee details of a company along with IDs,
       Storing names along with subject wise marks of students in a class,
       Creating restraunt menu with dishes, prices and description.
'''

In [ ]:
'''
17. Describe the time complexity of accessing elements in a dictionary?
    Dictionaries provide a fast and efficient way to store and retrieve or access datausing key value pair, where keys are used as index.
    The time complexity of retrieving a value by its key in dictionary is O(1).
'''

In [ ]:
'''
18.  In what situations are lists preferred over dictionaries?
      Lists are preffered over dictionaries when order of items is important like in sorted collection, in a sequence of eventsor when one need to access elements by their numerical positions.
'''

In [ ]:
'''
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    Dictionaries earlierfailed to preserve the order in which key-value pairs were added.
    However from python 3.7 dictionaroy retain the order of insertion, means items will appear in the order they were inserted.
    Dictionaries still not support index based data access.
    In dictionary access is based on keys not position which allow for swift data access.
'''

In [ ]:
'''
20.  Explain the difference between a list and a dictionary in terms of data retrieval.
     In list data retrieval is based on integer based indexing.
     Starting from 0 for the first element(left to right) and negative indexing starting from -1 for the last element (from right to left).
     Retrieval time can be linear O(n).

     In dictionary the elements are accesses using keys. The retrieval time is typically constanton average O(1), allowing fast look up.
'''

In [1]:
#1. Write a code to create a string with your name and print it?
str1="Shivani Sharma"
print(str1)

Shivani Sharma

In [2]:
#2. Write a code to find the length of the string "Hello World"?
str="Hello World"
len(str)

11

In [6]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
str="Python Programming"
str[0:3:1]

'Pyt'

In [7]:
#4. Write a code to convert the string "hello" to uppercase?
Text="hello"
Text.upper()

'HELLO'

In [10]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
Str="I like apple"
Str.replace('apple', 'orange')

'I like orange'

In [14]:
#6. Write a code to create a list with numbers 1 to 5 and print it?
list(range(1,6))

[1, 2, 3, 4, 5]

In [15]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
list1=[1,2,3,4]
list1.append(5)
list1

[1, 2, 3, 4, 5]

In [16]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list1=[1,2,3,4,5]
list1.remove(3)
list1

[1, 2, 4, 5]

In [17]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
lis=['a','b','c','d']
lis[1]

'b'

In [18]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
lis=[10,20,30,40,50]
lis[::-1]

[50, 40, 30, 20, 10]

In [22]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it?
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [23]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
T=('red', 'green', 'blue', 'yellow')
T[1:4]

('green', 'blue', 'yellow')

In [25]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
min(t)

5

In [26]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
t.index('cat')

1

In [27]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
Fruits=('apple','orange','peach')
'kiwi' in Fruits

False

In [28]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set={'a','b','c'}
print(my_set)

{'b', 'a', 'c'}

In [30]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1, 2, 3, 4, 5}
s.clear()
s

set()

In [32]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

In [33]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1={1, 2, 3}
s2={3, 4, 5}
s1|s2

{1, 2, 3, 4, 5}

In [34]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1, 2, 3}
s2={2, 3, 4}
s1 & s2

{2, 3}

In [35]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
My_Dict={'Name': 'Shivani Sharma', 'Age': 23, 'City': 'Jaisalmer'}
My_Dict

{'Name': 'Shivani Sharma', 'Age': 23, 'City': 'Jaisalmer'}

In [36]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d={'name': 'John', 'age': 25}
d['country']='USA'
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={'name': 'Alice', 'age': 30}
d['name']

'Alice'

In [40]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
d

{'name': 'Bob', 'city': 'New York'}

In [41]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict={'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
  print('Yes, it is present in dictionary')
else:
  print('Does not exist in dictiinary')

Yes, it is present in dictionary

In [42]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
My_list=[1, 2, 'apple',2.6,True]
My_list

[1, 2, 'apple', 2.6, True]

In [43]:
My_tuple=(1,2,[3,4],'apple')
My_tuple

(1, 2, [3, 4], 'apple')

In [44]:
My_dict={'Adity': 50, 'Arun': 88, 'Kavita': 90, 'Sonia': 95}
My_dict

{'Adity': 50, 'Arun': 88, 'Kavita': 90, 'Sonia': 95}

In [45]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
list1=[12,66,30,49,83]
sorted(list1)

[12, 30, 49, 66, 83]

In [46]:
#28. Write a code to create a list with strings and print the element at the third index.
list1=['sun','star','moon','planets','constellation','satellites']
list1[3]

'planets'

In [48]:
#29. Write a code to combine two dictionaries into one and print the result.
d1={'Cappucino': 350, 'Latte': 300, 'Mocha': 350}
d2={'Expresso': 250, 'Americano': 380 }
d1.update(d2)
d1

{'Cappucino': 350,
 'Latte': 300,
 'Mocha': 350,
 'Expresso': 250,
 'Americano': 380}

In [49]:
#30. Write a code to convert a list of strings into a set.
lis=['apple','orange','mango','apple','peach']
s=set(lis)
s

{'apple', 'mango', 'orange', 'peach'}